html, body {
    height: 100%;
    margin: 0px;
}

body {
    font-family: "Minecraft";
    background-image: url("brick.png");
    background-repeat: repeat;
    background-size: 160px auto;
}

.main {
    padding: 40px 0;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px 40px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.432);
    border-left: 1px solid rgba(53, 53, 53, 0.507);
    border-right: 1px solid rgba(53, 53, 53, 0.507);
}

.throw {
    flex: 0.8;
}

#header {
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 15px;
    text-align: center;
}

.border {
    border: 1px solid rgba(122, 122, 122, 0.56)
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    font-family: "Minecraft";
    padding: 5px;
    margin: 2px;
    border-radius: 8px;
    font-size: 15px;
    scrollbar-arrow-color: transparent;
}
 
h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

/* isto tira os botoes dos inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus,
input::selection {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
}

.no-margin {
    margin: 0;
}

.darker {
    color: rgb(177, 177, 177);
}

.purple-box {
    width: 40%;
    min-width: 250px;
    margin: 10px auto;
    padding: 20px 40px;
    color: white;
    background-color: rgba(80, 43, 121, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}

.small-text {
    margin: 2px;
    color: rgb(173, 173, 173);
    font-weight: 100;
    font-size: 16px;
}

#inputs {
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

#input-coords-div {
    display: flex;
    flex-direction: column;
}

#submit-div {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: fit-content;
    align-items: center;
}

#submit-button {
    border: none;
    padding: 20px 40px;
    background-color: rgba(58, 32, 88, 0.726);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 10px;
    font-family: "Minecraft";
    font-size: 30px;
    padding-bottom: 25px;
}

#submit-button:hover {
    background-color: rgba(53, 22, 87, 0.7);
}

#submit-button:active {
    background-color: rgba(25, 11, 41, 0.8);
}

.ans-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding: 10px 50px;
    margin: 50px auto;
    width: 60%;
    min-width: 250px;
}

#ans-coord-div {
    padding: 10px 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: rgb(173, 173, 173);
    font-weight: 100;
    font-size: 20px;
    width: 40%;
    background-color: rgba(39, 5, 77, 0.356);
    border-radius: 20px;
}

#error {
    font-size: 18px;
    color: rgb(202, 83, 83);
}

::selection {
    color: rgb(34, 34, 34);
    background: rgb(195, 143, 255);
}